
$c-main: #87b448;
$c-main-hover: #73993d;
$c-white: #fff;
$c-black: #000;

$c-error: #d95252;
$c-error-dark: #bd4b4c;

$c-blue: #65bade;
$c-blue-dark: #5ba3c3;

$c-txt: #1c2534;
$c-txt-light: #59606b;
$c-txt-lighter: #7c8695;
$c-txt-lightest: #b7bfcd;
$c-txt-hover: #71973c;

$c-border: #e0e2e6;
$c-fon: #f4f7fb;

